<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>jersey-tutorial</display-name>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.k19.restful.resources</param-value>
    </init-param>
    <init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
   
   
   <welcome-file-list>
       <welcome-file>index.html</welcome-file>
     </welcome-file-list>
</web-app>