<div class="row">
    <div class="small-12 columns">
      <table align="center" > 
           <tbody> 

          <tr ng-repeat="kundeTarif in kundeTarifen">
          		<td>{{kundeTarif.id}}</td>
          		<td ng-repeat="val in kundeTarif.values">
          		<table >
          			<th width="200"> Tarif</th> 
            		<th width="200"> KW</th> 
            		<th width="200"> Total</th>
            		<tr>
            		<td>{{val.id}}</td>
            		<td>{{val.kw | number:2}}</td>
            		<td>{{val.gesamt| number:2}}</td>
            		</tr>
            	</table>
              </td>  
                
           </tr>
          
          </tbody> 
        </table>
    </div>    
  </div>
  
  
  